﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">WelCome to Api Momo Test</a>.</p>
    <button onclick="Click()">Place Order</button>
</div>
<script>
    function Click(){
        $.ajax({
            url: '@Url.Action("PayMomo")'
        }).done(function (result) {
            window.location.href = result;
        });
    }
</script>